<!DOCTYPE html> 
<html> 
<head> 
    <title>Service List</title> 
</head> 
<body> 
    <h1>Service List</h1>
    <ul>
        <form  method="get"> 
            <input type="text" name="servicename" value=""/> 
            <input type="submit" value="search"/> 
        </form> 
    {% for service in ser %}
       <li>
        <h2>{{ service.service_icon }}</h2>

        <p>{{ service.service_title }}</p>
        <h3>{{ service.service_desc }}</h3>

       </li>
       {% endfor %}
    </ul>
</body> 
</html>